<div *ngIf="!loading && ! endGame">
    <header>
        <mat-progress-bar
            mode="determinate"
            value="{{step}}"
            class="gameProggress"
            color="warn"
            >
        </mat-progress-bar>
        {{currentQuestion}} / {{maxQuestions}}
    </header>
    <div *ngFor="let pack of questionPack; let  i = index">
        <div class="question">
            <p>{{pack.question}}</p>
            <div *ngFor="let answer of pack.answers; let  j = index">
                <div
                    *ngIf="answer != null"
                    (click)="checkAnswer(j)">
                    {{questionLater[j]}}
                    <input 
                        type="radio"
                        name="{{i}}"
                        *ngIf="pack.multiple_correct_answers == 'false'"
                        />
                    <input
                        type="checkbox"
                        name="{{i}}"
                        *ngIf="pack.multiple_correct_answers == 'true'"
                        />
                    {{answer}}
                </div>
            </div>
        </div>

        <br/><br/>
    </div>
    <button
        mat-button
        color="warn"
        (click)="goToMenu()">
            Back To Menu
    </button>
</div>

<div *ngIf="loading && !endGame">
    <mat-spinner class="loader" color="warn"></mat-spinner>
</div>

<div *ngIf="endGame" id="gameIsEnd">
    <p>Congratulation you end game with score: {{score}}!!</p>
</div>
